.btn {
  width: 100%;
  padding: 0.8rem;
  background-color: #cc0000;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff0000;
}

